
* {
    margin: 0;
    padding: 0;
 }
body {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
  }
ul {
    list-style: none;
}
  #body {
      width: 100%;
  }
  #nav {
    color: #374957;
    font-family: "Proxima Nova","Verdana","Avenir Next";
    font-size: 32px;
    line-height: 1.66;
    -webkit-font-smoothing: antialiased;
    background: #421E76;
    border-radius: 6px;
    width: 98%;
    overflow: hidden;
    color: #FCBD24; 
    font-family: "Oswald";
    height:100px;
    text-align: center;
    line-height: 100px;
    margin-left: 1%;
    margin-right: 1%;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 50
}
svg {
    display:inline-block !important;
}
#tab-courters {
    margin: 2px auto;
    width:100%;
    text-align: center;
}
#tab-courters ul {
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    
}
#tab-courters ul li{
    margin: 0;
    padding: 0;
    line-height: 60px;
    width: 48.5%;
    height: 60px;
    background-color: rgb(240, 240, 240);
    display: inline-block;
    font-family: "Proxima Nova","Verdana","Avenir Next";
    border: 1px solid #abb3b9;
    border-radius: 41px;
}
.active {
  background-color: #282A35!important;
  color: white!important;
  box-shadow: 0 2px 0 0 rgba(255, 99, 71, 0.3) ;
}
.menu {
  display:inline-block;
  background-color: #f4f6f8;
  height:150px;
  margin: 153.5px 2px;
  width:40px;
  border-radius:8px;
}
img {
  float: left;
  object-fit: cover;
  width:84%;
  height:437px;
  max-height: 437px;
  margin: 30px 0px 0px 10px;
  border-radius: 2%;
}
.love, .download, .zoom {
  display:inline-block;
  background-color: rgba(22, 24, 35, .09);
  border-radius: 50%;
  width: 30px ;
  height: 30px;
  margin: 10px auto;
}





  